p There are {{posts.length}} teams

h3(ng-style="myStyle") Leader Board
div(ng-repeat='post in posts')
  div {{post.title}} {{post.sum}}
div(ng-repeat='post in posts')
  h3(ng-style="myStyle") {{post.title}}
  table
    tr
      th Player
      th Game 1
      th Game 2
      th Game 3
      th Game 4
      th Game 5
      th Game 6
      th Total
    tr
      td {{post.playname0}}
      td {{post.playpoints0[0]}}
      td {{post.playpoints0[1]}}
      td {{post.playpoints0[2]}}
      td {{post.playpoints0[3]}}
      td {{post.playpoints0[4]}}
      td {{post.playpoints0[5]}}
      td {{post.playtotal0}}
    tr
      td {{post.playname1}}
      td {{post.playpoints1[0]}}
      td {{post.playpoints1[1]}}
      td {{post.playpoints1[2]}}
      td {{post.playpoints1[3]}}
      td {{post.playpoints1[4]}}
      td {{post.playpoints1[5]}}
      td {{post.playtotal1}}
    tr
      td {{post.playname2}}
      td {{post.playpoints2[0]}}
      td {{post.playpoints2[1]}}
      td {{post.playpoints2[2]}}
      td {{post.playpoints2[3]}}
      td {{post.playpoints2[4]}}
      td {{post.playpoints2[5]}}
      td {{post.playtotal2}}
    tr
      td {{post.playname3}}
      td {{post.playpoints3[0]}}
      td {{post.playpoints3[1]}}
      td {{post.playpoints3[2]}}
      td {{post.playpoints3[3]}}
      td {{post.playpoints3[4]}}
      td {{post.playpoints3[5]}}
      td {{post.playtotal3}}
    tr
      td {{post.playname4}}
      td {{post.playpoints4[0]}}
      td {{post.playpoints4[1]}}
      td {{post.playpoints4[2]}}
      td {{post.playpoints4[3]}}
      td {{post.playpoints4[4]}}
      td {{post.playpoints4[5]}}
      td {{post.playtotal4}}
    tr
      td {{post.playname5}}
      td {{post.playpoints5[0]}}
      td {{post.playpoints5[1]}}
      td {{post.playpoints5[2]}}
      td {{post.playpoints5[3]}}
      td {{post.playpoints5[4]}}
      td {{post.playpoints5[5]}}
      td {{post.playtotal5}}
